<%= form_for(@metadatum) do |f| %>
  <% if @metadatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metadatum.errors.count, "error") %> prohibited this metadatum from being saved:</h2>

      <ul>
      <% @metadatum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :data_type_id %><br />
    <%= f.text_field :data_type_id %>
  </div>
  <div class="field">
    <%= f.label :default_values_id %><br />
    <%= f.text_field :default_values_id %>
  </div>
  <div class="type">
	<%= f.collection_select :type_id, Type.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
